.login_page {
    width: 100%;
    height: calc(100vh - 190px);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #eee;
}

.login {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 30px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 40px 0;
}

.login__form input {
    border: 1px solid #80A1FA;
    background: none;
    padding: 10px 20px;
    margin: 10px 0 10px 10px;
    outline: none;
}
.login__form input:focus {
    box-shadow: 0 0 5px #80A1FA;
}

.login__form button {
    padding: 11px 20px;
    background-color: #80A1FA;
    color: #ffffff;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.login__form button:hover {
    background-color: #9900FF;
}

.login__image-presenter {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0;
    /*background-color: red;*/
}

.login__image-presenter > img {
    object-fit: cover;
    max-height: 100%;
    height: 100%;
    min-width: 100%;
    /*display: table-cell;*/
}